*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --container-height: 100vh;
  --dynamic-container-height: 100dvh;
  --container-width: 100vw;
  --dynamic-container-width: 100dvw;
}
#root {
  height: var(--dynamic-container-height, --container-height);
  width: var(--dynamic-container-width, --container-width);
  color: #ffffff;
  background-color: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;
}

/* Resets */
.button {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

/* Header */
.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  background-color: #1c1c1c;
}
.add-todo-button {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 60%;
}
.todo-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  margin-top: 1rem;
  padding: 0 0.4rem;
  gap: 2rem;
}
@media (min-width: 768px) {
  .todo-filters {
    justify-content: flex-start;
  }
}
.todo-filter {
  text-transform: capitalize;
  background-color: rgb(71, 110, 133);
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: 0.125rem solid transparent;
}
.todo-filter.selected {
  background-color: hsl(202, 30%, 50%);
  border: 0.125rem solid white;
}
.todo-list-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.todo-item {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 0.15rem solid transparent;
}
.todo-item.selected {
  border-color: rgba(255, 255, 255, 0.6);
}
/* If the user is using a fine pointer(mouse/stylus) then show remove todo button upon hover */
@media (pointer: fine) {
  .todo-list-container:not(:has(.todo-item.selected)) .todo-item:hover .todo-remove-button {
    pointer-events: auto;
    opacity: 1;
  }
}
.todo-checkbox-text-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  flex: 1;
}
.todo-checkbox-text-wrapper > label {
  height: 1.4rem;
  aspect-ratio: 1/1;
}
.todo-checkbox {
  display: none;
}
.todo-state-icon,
.todo-remove-icon {
  cursor: pointer;
}
.todo-state-icon {
  position: absolute;
  height: 1.4rem;
}
.todo-state-icon.checked {
  opacity: 0;
}
.todo-checkbox:checked ~ .todo-state-icon.checked {
  opacity: 1;
}
.todo-remove-button {
  pointer-events: none;
  opacity: 0;
}
.todo-item.selected .todo-remove-button {
  pointer-events: auto;
  opacity: 1;
}
.todo-remove-icon {
  height: 1.2rem;
}
.todo-item-text {
  background: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: 0.1rem solid transparent;
  padding: 0.4rem 0.4rem;
  border-radius: 0.4rem;
  scrollbar-width: none;
  resize: none;
  width: 100%;
}
.todo-item-text:focus {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Transitions */
:root {
  --transition-time: 0.25s;
}
.todo-filter {
  transition: border-color var(--transition-time) ease;
}
.todo-remove-button,
.todo-state-icon.checked {
  transition: opacity var(--transition-time) ease;
}

/* Hover and Active Transitions */
.add-button-icon {
  transition: filter var(--transition-time) ease, border-color var(--transition-time) ease;
  border: 0.15rem solid transparent;
  border-radius: 100%;
}
.add-todo-button:hover .add-button-icon {
  filter: brightness(110%);
  border-color: rgba(255, 255, 255, 0.2);
}
.add-todo-button:active .add-button-icon {
  filter: brightness(120%);
  border-color: rgba(255, 255, 255, 0.6);
}
.todo-filter:not(.selected):hover {
  background-color: hsl(202, 30%, 45%);
  border-color: rgba(255, 255, 255, 0.2);
}
.todo-filter:not(.selected):active {
  background-color: hsl(202, 30%, 50%);
  border-color: rgba(255, 255, 255, 0.4);
}
