*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --container-height: 100vh;
  --dynamic-container-height: 100dvh;
  --container-width: 100vw;
  --dynamic-container-width: 100dvw;
}
#root {
  height: var(--dynamic-container-height, --container-height);
  width: var(--dynamic-container-width, --container-width);
  color: #ffffff;
  background-color: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;
}

/* Resets */
.button{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Header */
.header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 1.2rem;
  background-color: #1c1c1c;
}
.add-todo-button{
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 60%;
}